body {
    width: 100vh;
    background: #000;
    color: #FFF;
} #head {
    align-items: center;
    justify-items: center;
    left: 220px;
    top: 30px;
    position: relative;
    z-index: 3;
} #rocket-logo-svg {
    width: 30px;
    top: 10px;
    margin-right: 140px;
    position: relative;
} .btn {
    background: none;
    color: #FFF;
    font-family: sans-serif arial;
    padding-right: 35px;
    transition: 400ms;
    position: relative;
} .btn:hover {
    color: rgb(159, 56, 255);
} #pick-coffe-button {
    background: none;
    color: #FFF;
    font-family: sans-serif arial;
    border: solid rgb(198, 12, 255) 1px;
    border-radius: 30px;
} #tlt {
    width: 400px;
    left: 470px;
    bottom: 355px;
    position: absolute;
} #rocket-coffe {
    width: 690px;
    bottom: 0px;
    right: 340px;
    position: absolute;
    z-index: 1;
} #blur-up {
    width: 600px;
    bottom: 80px;
    right: 0px;
    position: absolute;
} #blur-down {
    width: 600px;
    bottom: 0px;
    left: 0px;
    position: absolute;
}